* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Piedra,sans-serif;
    margin: 0;
    padding: 0;
    color: floralwhite;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: floralwhite;
  
    
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}
.top{
    display: flex;
    max-width:  89rem;
    max-height: 18rem;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}
h1 {
    display: block;
    top:1rem;
    font-size: 5rem;
    word-spacing: 8rem;
    margin-bottom: 2rem;
    letter-spacing: .9rem;
    margin-top: 0;
    color: cadetblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#answerText,
.gameRound {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    font-family: 'Space Mono';
    white-space: pre-line;
    color: rgb(100, 85, 85);
    text-align: center;
    line-height: 3rem;
    max-width: 86%;
    
}

.playerCon,
.score,
.computerCon {
    min-width: 29rem;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score{
    gap:3rem;
}
.score p {
    font-size: 10rem;
    color:cadetblue;
}
.gameImg{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 10px inset cadetblue
}
.bottom {
    display: flex;
    justify-content: space-evenly;
    gap:5rem;
    width: 60%;
    height: 10rem;
}
.choose{
    width:100%;
    height: 100%;
}

.bottom button {
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    width: 8rem;
    height:8rem;
    border: 10px inset cadetblue;
    box-shadow: 0px 0px 10px 5px grey;
    transition: width 1s, height 1s;
    padding: .5rem;
}
.bottom button:hover{
    width: 12rem;
    height: 12rem;
}
.endCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 28%;
    width: 42vw;
    height: 45vh;
    border-radius: 2rem;
    order: 2;
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    background: url(./images/endCard.jpeg);
    background-position: 35% 35%;
    padding:2rem;

}
#endText {
    margin-bottom:1rem;
    font-size: 2rem;
    letter-spacing: .1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 3rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    animation: reset 4s linear  1  ;
    text-shadow: 0px 0px 30px black;
}
.endScore{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}
.endScore p{
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.endScorePlayer{
    position: relative;
    left: -1000%;
    animation: scorePlayer 1s linear 1s 1 forwards;
    animation: name duration timing-function delay iteration-count direction fill-mode;

}
.endScoreComputer{
    position: relative;
    right:  -1000%;
    animation: scoreComputer 1s linear 2s 1 forwards;
}
.divider{
    width: 4rem;
    height: 8rem;
    position: relative;
    top:-1000%;
    animation: bolt 1s linear  3s 1 forwards ;
}
.reset{
    font-size: 2rem;
    letter-spacing: .3rem;
    border-radius:  1rem;
    padding: 1rem;
    width: 200px;
    border: 2px solid cadetblue;
    order: 3;
    background-color: goldenrod;
    color:white;
    animation: reset 4s linear  1  ;
}   
.reset:hover{
    background-color: cadetblue;
    color: black;
}
@keyframes reset{
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.50;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}
@keyframes bolt{
    0% {top:-1000%}
    100% {top:0%};
}
@keyframes scorePlayer {
    0% {left: -1000%};
    50%{left: -500%}
    100%{left: 0%}
}
@keyframes scoreComputer {
    0% {right: -1000%};
    50% {right: -500%};
    75% {right: -250%}
    100%{right: 0%};
}
    



