* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Piedra,sans-serif;
    margin: 0;
    padding: 0;
    color: floralwhite;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: floralwhite;
    height: 100vh;
    
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.top{
    display: flex;
    max-width:  89rem;
    max-height: 20rem;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}
h1 {
    display: block;
    top:1rem;
    font-size: 5rem;
    word-spacing: 8rem;
    margin-bottom: 2rem;
    letter-spacing: .9rem;
    margin-top: 0;
    color: cadetblue;
}
#answerText,
.gameRound {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    font-family: 'Space Mono';
    white-space: pre-line;
    color: rgb(100, 85, 85);
    text-align: center;
    line-height: 3rem;
    max-width: 86%;
    
}
#answerText{
    margin-top: 3rem;
}
.playerCon,
.score,
.computerCon {
    min-width: 29rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score{
    gap:3rem;
}
.score p {
    font-size: 10rem;
    color:cadetblue;
}
.gameImg{
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    border: 10px inset cadetblue
}
.bottom {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    gap:5rem;
    width: 60%;
    height: 13rem;
}
.choose{
    width:100%;
    height: 100%;
   
}

.bottom button {
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    width: 10rem;
    height:10rem;
    border: 10px inset cadetblue;
    box-shadow: 0px 0px 10px 5px grey;
    transition: width 1s, height 1s;
    padding: .5rem;
}
.bottom button:hover{
    width: 12rem;
    height: 12rem;
}
.endCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 28%;
    width: 45vw;
    height: 45vh;
    background-color: aqua;
    border-radius: 2rem;
    order: 2;
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    background: rgb(2,0,36);
    padding:2rem;
    opacity: .9;

}

.reset{
    font-size: 2rem;
    border-radius:  1rem;
    padding: 1rem;
    width: 200px;
    border: none;
    order: 3;
    background-color: rgb(88, 65, 54);
    margin-bottom: 2rem;
    color:white
}
.reset:hover{
    background-color: rgb(41, 171, 69);
    color: black;
}
#endText {
    margin-bottom:10rem;
    font-size: 2rem;
    letter-spacing: .1rem;
    color: rgb(41, 171, 69);
    text-align: center;
    line-height: 3rem;
}

